    <h1>Edit</h1>
    <form method="post" acction="/memos/<%= @title %>" >
      <input type= "hidden" name="_method" value="patch">
     <input type="text" name="title" value="<%= @title %>">
     <textarea name="body" cols=40 rows=4><%= @body %></textarea>
     <input type="submit" value="Save!">
    </form>
    <a href="/memos/<%= @title %>">Back to this memo </a>
    <a href="/">Back to all memos</a>  
