<h1>メモ一覧</h1>
<a href='/new'>新規メモ</a>
<ul>
  <% @contents.each do |content| %>
    <li>
      <a href="/memos/<%= content['id'] %>"><%= content['title'].gsub(/(\r\n|\r|\n)/, "<br>") %></a>
    </li>
  <% end %>
</ul>
