<h1 class="main__title">メモ一覧</h1>
<div class="article">
  <a class="article-item__button" href='/new'>+ 新規メモ</a>
  <ul class="article-item">
    <% @contents.sort_by{|val| val['time']}.reverse.each do |content| %>
      <li>
        <a class="article-item__list" href="/memos/<%= content['id'] %>"><%= content['title'].gsub(/(\r\n|\r|\n)/, "<br>") %></a>
        <p class="article-item__time" ><%= Time.parse(content['time']).strftime("%Y年%m月%d日 %H時%M分%S秒") %></p>
      </li>
    <% end %>
  </ul>
</div>
