<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <title>メモアプリ</title>
  </head>
  <body>
    <main class="main">
      <%= yield%>
      <a class="back-to-top" href="/">Back to all memos</a> 
    </main>
  </body>
</html>
