    <h1>Add new</h1>
      <form method="post" action="/new">
          <input type= "text" name="title">
          <input type= "text" name="body">
          <input type= "hidden" name="_mehod" value="post">
          <input type= "submit" value="post!">
      </form>
