<header class="header">
  <h1 class="header__title">Add new</h1>
  <a class="header__back-to-top" href="/">Back to all memos</a> 
</header>
<article class="article">
    <form class="form" method="post" action="/memos" >
      <div class="form__title">
        <input type= "hidden" name="_method" value="post">
        <p class="form__description" >title</p>
        <input class="form__input" type="text" name="title" value="">
      </div>
        <div class="form__body">
          <p class="form__description">本文</p>
          <textarea class="form__textarea" name="body" cols=40 rows=6></textarea>
          <input class="form__button" type="submit" value="Save!">
        </div>
    </form>
</article>
