<header class="header">
  <h1 class="main__title">Add new</h1>
  <a class="back-to-top" href="/">Back to all memos</a> 
</header>
<article class="article">
  <div class="form">
    <form method="post" action="/memos" >
      <div class="form-item__title">
        <input type= "hidden" name="_method" value="post">
        <p class="form-item__description" >title</p>
        <input class="form-item__input" type="text" name="title" value="">
      </div>
        <div class="form-item__body">
          <p class="form-item__description">本文</p>
          <textarea class="form-item__textarea" name="body" cols=40 rows=6></textarea>
          <input class="form-item__button" type="submit" value="Save!">
        </div>
    </form>
  </div>
</article>
