    <h1>Show</h1>
    <a href="/">Return</a>
      <div>
      <p><%= @title %></p>
      <p><%= @body %></p>
      </div>
      <a href="/memos/<%= @title %>/edit">Edit this memo</a>
      <form method="post" acction="/memos/<%= @title %>" >
        <input type= "hidden" name="_method" value="delete">
        <input type="submit" value="Delete!">
      </form>
